body {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
.dark-theme {
    --bg: #262626;
    --bg-1: #313131;
    --bg-2: #3a3a3a;
    --bg-active: #534450;
    --button-active: #613658;
    --button-active2: #51254b;
    --text-primary: #ffffff;
    --text-primary2: #e1e1e1;
    --text-accent: #ea9ce2;
    --accent-dark: #60435d;
    --text-green: #87ff83;
    --text-red: #e15d5d;
    --overlay: #14141472;
    --curve-grid: #e35fbf2c;
    --semi-transparent-accent: #60435d76;




    /* --md-sys-color-background: #3a3a3a;
    --md-sys-color-on-background: #ffffff;
    --md-sys-color-surface: #313131;
    --md-sys-color-on-surface: #ffffff;
    --md-sys-color-primary: #bb86fc;
    --md-sys-color-on-primary: #3a3a3a; */

    --primary: #f9ebff;
    --on-primary-container:#2c0038;
    --primary-container: #9d86b0;

    --secondary: #f9ebff;
    --secondary-container: #574560;

    --surface-lowest: #140c13;
    --surface-low: #1a161c;
    --surface: #332f35;
    --surface-high: #3e3a40;
    --surface-highest: #4a454b;
    --outline: #f7edf8;

     --md-sys-color-primary: var(--primary);
    --md-sys-color-surface: var(--surface-lowest);
    --md-sys-color-on-surface-variant: var(--surface-lowest);
    --md-sys-color-surface-container-high: var(--surface-low); 
}
.light-theme {
    /* --bg: #e8e8e8;
    --bg-1: #ffffff;
    --bg-2: #ececec;

    --bg-active: #c69dbc;
    --button-active: #d37dc0; 
    --button-active: var(--md-sys-color-secondary);
    --button-active2: #a779a1;
*/
    --text-primary: #000000;
    --text-primary2: #1e1e1e;
    
    --text-accent: var(--md-sys-color-primary);

    --accent-dark: var(--md-sys-color-primary);

    --text-green: #297f26; 
    --text-red: #e15d5d;

/* 
    --overlay: #14141472;
    --curve-grid: #c169aa36;*/
    --semi-transparent-accent: #b587b160; 



    --primary: #6f528a;
    --on-primary-container:#ffffff;
    --primary-container: #f0dbff;

    --secondary: #665a6f;
    --secondary-container: #edddf6;

    --surface-lowest: #ffffff;
    --surface-low: #f9f1f9;
    --surface: #f4ebf3;
    --surface-high: #eee6ee;
    --surface-highest: #e8e0e8;
    --outline: #968e98;
}
:root {
    --md-elevation-level: 3;

    color: var(--text-primary);
    background-color: var(--bg);

    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.button {
    border: 0;
    background-color: 0;
    padding: 10px;
}
.material-symbols-outlined {
    color: var(--text-primary2);
}

* {
    user-select: none;
    box-sizing: border-box;
}
p {
    color: var(--text-primary2);
}
#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 13vh;
    height: 100vh; /* Full viewport height */
    z-index: 1; /* Ensure it's above other content */
    background-color: var(--surface-lowest);
    display: flex;
    flex-direction: column;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#content {
    position: fixed;
    width: calc(100% - 13vh);
    height: calc(100vh - 0vh);
    top: 0;
    right: 0;
    margin-left: 13vh;
}
@media (max-width: 768px) { /* Adjust the breakpoint as needed */
    #nav-bar {
        bottom: 0;
        top: auto;
        left: 0;
        width: 100%;
        height: 10vh;
        flex-direction: row;
    }
    #content {
        height: calc(100% - 10vh);
        width: 100%;
        margin-bottom: 10vh;
        background-color: white;
        margin: 0;
    }
    #top-bar-container {
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
    }
    .description {
        display: none;
    }
    .change {
        display: none;
    }
}
.nav-bar-buttons {
    width: 13vh;
    height: 10vh;
    background-color: transparent;
    border: 0;
    transition: background-color 0.2s, font-size 0.5s;
    border-radius: 10px; 
}
.nav-bar-buttons.nav-bar-buttons-active > span {
    width: 50px;
    height: 30px;
    border-radius: 10px;
    transition: background-color 0.3s;
}
.nav-bar-buttons.nav-bar-buttons-active:not(.hidden) > span {
   background-color: var(--secondary-container); 
}
.nav-bar-buttons.nav-bar-buttons-active:not(.hidden) {

}
.nav-bar-buttons.nav-bar-buttons-active > span,
.nav-bar-buttons.nav-bar-buttons-active > p {
    color: var(--primary);
    font-weight: bold;
}
.nav-bar-buttons p {
    margin: 0px;
}
/*options tab*****************/
.nav-content.help.hidden {
    display: none;
}
.nav-content.help {
    display: flex;
    justify-content: center;
}
.options-tabs {
    width: 80%;
    height: 60px;
    border-radius: 10px;
    background-color: var(--surface-lowest);
    color: var(--text-primary2);
    border: 2px solid var(--bg);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.options-tabs:first-child {
    margin-top: 30px;
}
/******/
.hidden {
    display: none;
}
.nav-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0px;
    background-color: var(--surface-low);
}

/*balance container*/
#balance-container {
    position: fixed;
    min-width: 80px; /* Changed from width: 100px to min-width: 80px */
    height: 50px;
    background-color: var(--surface-lowest);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    top: 30px;
    right: 30px;
    z-index: 101;
    padding: 0 20px; /* Add some horizontal padding */
    transition: all 0.3s ease-in-out;
}

#money-balance {
    white-space: nowrap; /* Prevent text from wrapping */
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}
#currency-balance {
    margin-left: 5px;
    color: var(--primary);
    font-style:italic;
    font-weight: 400;
}
/*
home tabas
*/
.nav-content.home {
    display: flex;
    align-items: center;
    justify-content: center;
}
#dashboard-container {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 15px;
}
#dashboard-account-value-container {
    background-color: var(--surface-lowest);
    grid-area: 1 / 1 / 2 / 3;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#acc-value-header {
    margin-bottom: 40px;
}
#total-account-value, #todays-change-value {
    margin: 0;
    font-size: 2rem;
}
#todays-change-value, #todays-change-percentage  {
    color: var(--text-green);
}

#dashboard-graph-container {
    background-color: var(--surface-lowest);
    grid-area: 1 / 3 / 3 / 6;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
    .nav-content.home {
        overflow-y: auto;
        padding-top: 0px;
        padding-bottom: 20px;
        height: 100%;
    }
    #dashboard-container {
        display: flex;
        justify-content: center safe;
        flex-direction: column;
        min-height: 0;
        height: 90%;
        
    }
    #dashboard-account-value-container {
        width: 100%;
        /* height: 300px; */
      height: 100%;
        
    }
    #dashboard-recent-transactions-container {
        width: 100%;
        height: 100%;
        order: 2;
        
    }
    #dashboard-graph-container {
        width: 100%;
        height: 100%;
        
    }
}

/*stocks buy sell*/
#owned-stocks-amount {
    position: absolute;
    top: -5px;
    font-style: italic;
}
 #buysell-container {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/*limit orders start*/
#limit-orders-table, #short-orders-table {
  overflow: scroll;
  border-radius: 15px;
  background-color: var(--surface-lowest);
  width: 100%;
  height: 100px;
  text-align: center;
  border-collapse: collapse;
  grid-area: 2 / 1 / 3 / 3;
  color: var(--text-primary2);
  transition: height 1s;
  max-height: 40px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  overflow: scroll;
  margin-bottom: 15px;
}
#limit-orders-table tr:not(:last-child), #short-orders-table tr:not(:last-child) {
    border-bottom: 1px solid var(--surface-high);
}
#limit-orders-table tr, #short-orders-table tr {
    height: 50px;
    display: table;
    width: 100%;
    table-layout: fixed;
    transition: background-color 0.15s;
    position: sticky;
}
#limit-orders-table tr:first-child, #short-orders-table tr:first-child{
    font-weight: bold;
}
/* limit orders end */
#stocks-table {
  margin: 0;
  border-radius: 15px;
  background-color: var(--surface-lowest);
  width: 100%;
  height: 100px;
  text-align: center;
  border-collapse: collapse;
  grid-area: 2 / 1 / 3 / 3;
  color: var(--text-primary2);
  transition: height 1s;
  max-height: 40px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  overflow: scroll;
}
#stocks-table-wrapper {
    height: 600px;
    overflow-y: scroll;
    width: 80%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 50px;
}
#stocks-table tbody {
    display: block;   
}
#stocks-table th {
    font-weight: bold; 
    padding: 10px; 
    background-color: var(--bg-2);
    color: var(--text-primary2);
}
#stocks-table td {
    overflow-x: hidden;
}
#stocks-table td[stock='1'] {
    padding: 10px; 
    border-bottom: 1px solid var(--bg-2); 
}
#stocks-table tr:first-child{
    font-weight: bold;
}
#stocks-table tr:not(:first-child):hover {
    background-color: var(--surface);
}
#stocks-table tr {
    height: 50px;
    display: table;
    width: 100%;
    table-layout: fixed;
    transition: background-color 0.15s;
    position: sticky;
}
#stocks-table tr:not(:last-child) {
    border-bottom: 1px solid var(--surface-high);
}



/*portfolio*/
#portfolio-table {

    border-radius: 10px;
    background-color: var(--surface-lowest);
    width: 100%;
    height: 100px;
    text-align: center;
    border-collapse: collapse;
    grid-area: 2 / 1 / 3 / 3;
    color: var(--text-primary2);
    transition: height 1s;
    overflow-y: auto;
    max-height: 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  #portfolio-table-wrapper {
    height: auto;
    max-height: 600px;
    overflow-y: scroll;
    width: 80%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
#portfolio-table-wrapper::-webkit-scrollbar, #stocks-table-wrapper::-webkit-scrollbar {
    width: 0 !important;
}
  #portfolio-table tbody {
      display: block;   
  }
  #portfolio-table th {
      font-weight: bold; 
      padding: 10px; 
      background-color: var(--bg-2);
      color: var(--text-primary2);
  }
  #portfolio-table td[stock='1'] {
      padding: 10px; 
      border-bottom: 1px solid var(--bg-2); 
  }
  #portfolio-table tr:first-child{
      font-weight: bold;
  }
  #portfolio-table tr {
      height: 50px;
      display: table;
      width: 100%;
      table-layout: fixed;
      transition: background-color 0.15s;
  }
  #portfolio-table tr:not(:last-child) {
      border-bottom: 1px solid var(--surface-high);
  }
  #portfolio-table tr:not(:first-child):hover {
    background-color: var(--surface);
  }
  .table-sort-arrow {
    transition: transform 0.2s;
  }
  #portfolio-table *, #stocks-table * {
    user-select: none;
  }
  tr[header='true'] {
    cursor: pointer;
  }
  tr[header='true'] > td > div {
    display: flex;
    align-items: center;  /* Vertically centers items */
    justify-content: center;  /* Centers content horizontally */
  }
  .sort-arrow-asc {
    transform: rotate(180deg);
  }
  .sort-arrow-desc {
    transform: rotate(0deg);
  }
  /*dialog*/
  /* .dialog-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
    z-index: 990;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.1s;
  }
  .dialog-container {
    background-color: var(--bg-1);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: 40%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden;
  }
  @media (max-width: 768px) {
    .dialog-container {
      width: 90%;
    }
  }
  .dialog-hidden {
    opacity: 0;
    pointer-events: none;
  }
  #buy-stock-dialog-navigation-container {
    width: calc(100%+40px);
    height: 40px;
    margin: -20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
  }
  #buy-stock-dialog-navigation-container button {
    width: 33.3%;
    height: 100%;
    background-color: transparent;
    border: 0;
    color: var(--text-primary2);
    border-bottom: 2px solid transparent;
  }
  #buy-stock-dialog-navigation-container button.active-dialog-nav-button {
    border-bottom: 2px solid var(--accent-dark);
    color: var(--text-accent);
    font-weight: bold; 
  }*/
  .buy-stock-dialog-content.buy {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 0.01fr) 0.8fr 0.2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
 
  .buy > .dialog-stock-name { 
    grid-area: 1 / 1 / 2 / 2; 
    font-weight: bold;
    color: var(--text-accent);
    margin: 0;
  }
  .buy > .dialog-stock-price { 
    grid-area: 2 / 1 / 3 / 2; 
    font-size: 1.5rem;
    margin: 2px;
  }
  .buy > .dialog-price-graph { grid-area: 3 / 1 / 4 / 2; }
  .buy > .dialog-buttons { 
    grid-area: 4 / 1 / 5 / 2; 
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .dialog-buttons * {
    margin-right: 10px;
  } 
  .buy-stock-dialog-input {
    max-width: 70px;
    height: 20px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--accent-dark);
    color: var(--text-primary2);
    font-size: 1rem;
}
.buy-stock-dialog-input:focus {
    outline: none;
    background-color: var(--overlay);
}
.dialog-button {
    background-color: var(--accent-dark);
    border-radius: 20px;
    border: 0;
    color: var(--text-primary2);
    width: 120px;
    height: 30px;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    border: 1px solid var(--button-active);
    font-size: 1rem;
    letter-spacing: 1px;
    transition: background-color 0.2s;
}
.dialog-button:hover {
    outline: 3px solid var(--button-active)
}
.buy-stock-dialog-content.sell > .dialog-stock-price p {
    margin: 0;
}
.buy-stock-dialog-content.sell > .dialog-stock-price p:last-child {
    margin-top: 10px;
    font-size: 1rem;
}
#sell-all-stocks-button {
    margin: 0;
    background-color: transparent;
    grid-area: 4 / 1 / 5 / 2;
    width: 100px;
    height: 40px;
}
.buy-stock-dialog-content.sell {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.5fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .sell > .dialog-stock-name { 
    grid-area: 1 / 1 / 2 / 2; 
    font-weight: bold;
    color: var(--text-accent);
    margin: 0;
  }
  .sell > .dialog-stock-price { 
    grid-area: 2 / 1 / 3 / 2;
    font-size: 1.5rem;
    margin: 2px;
  }
  .sell > .dialog-buttons { 
    grid-area: 3 / 1 / 4 / 2;
    height: 40px; 
    display: flex;
    flex-direction: row;
    align-items: center;
  }

 /*dialog*/

 /* recent transactions */
 #dashboard-recent-transactions-container {
    background-color: var(--surface-lowest);
    grid-area: 2 / 1 / 3 / 3;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
}
#dashboard-recent-transactions-header {
    height: 30px;
    margin: 5px;
}
#dashboard-transactions-container {
    width: 100%;
    height: 250px;
    max-height: calc(100% - 40px);
    overflow-y: scroll;
}
#dashboard-transactions-container::-webkit-scrollbar {
    width: 0 !important;
}
 .transaction-info-container {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid var(--bg-2);
 }
 /* .transaction-info-container > .transaction-amount,  .transaction-info-container > .transaction-for {
    width: 15%;
    overflow-x: scroll;
 } */

 .transaction-info-container p {
    margin-left: 5px;
 }
 .bought {
    color: var(--text-green);
 }
 .sold {
    color: var(--text-red);
 }
 .transaction-stock-name {
    color: var(--primary);
    font-weight: bold;
 }
 .stock-name {
    color: var(--primary);
    font-weight: 400;
    font-style: italic;
 }
 /*limit order*/
 .buy-stock-dialog-content.limit-order {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 0.4fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
 }
 #limit-order-container {
    display: flex;
    align-items: center; 
     flex-direction: row;
    grid-area: 2 / 1 / 3 / 2;
 }
#limit-order-container * {
    margin-right: 10px;
}
.buy-stock-dialog-content.hidden {
    display: none;
}
.curve-wrapper {
    width: calc(100% - 20px);
    height: auto;
    /* display: grid;
    grid-template-columns: 0.06fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; */
    margin: 10px;
}
.dashboard-curve {
    width: 100%;
    height: 100%;
    grid-area: 1 / 2 / 2 / 3;
    /* border-top-left-radius: 15px; */
    border-top-right-radius: 15px;
    border: 1px solid var(--bg);
}
.curve-y-axis { 
    grid-area: 1 / 1 / 2 / 2; 
}
.curve-x-axis { 
    grid-area: 2 / 2 / 3 / 3; 
    display: flex;
    justify-content: space-evenly;
}
.curve-x-axis > span {
    color: var(--text-primary2);
}
.curve-y-axis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.curve-y-axis > span {
    color: var(--text-primary2);
    margin-left: 5px;
}
/* notification */
.notification-container {
    width: 50%;
    height: 60px;
    z-index: 999;
    position: absolute;
    /* transform: translate(50%, 30%); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: var(--surface-lowest);
    
    border-radius: 10px;
    color: var(--text-primary2);
    transition: transform 0.2s;
}
.notifTranslate {
    transform: translate(50%, 30%);
}
.notification-icon-container {
    height: 100%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification-text-container {
    height: 100%;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.notification-button-container {
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification-container.hidden {
    transform: translate(50%, -100%);
}
@media (max-width: 768px) {
    .notification-container {
        
    }
}
.notif1 {
    transform: translate(50%, 50%);
}
.notif2 {
    transform: translate(50%, 70%);
}
.notif3 {
    transform: translate(50%, 90%);
}

md-tabs {
    width: 100%;
    height: 45px;
}
md-secondary-tab {
    background-color: transparent;
}













.inline-flex {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.dialog-expand {
    width: 600px;
    height: 600px;
}

md-dialog {
    height: 350px;
    width: 400px;
    transition: width 0.2s, height 0.2s;
}
div[slot='headline'] {
    margin: 0;
    padding: 0;
}
md-tabs {
    width: 100%;
}
form[slot='content'] {
    height: 100%;
}
#buy-panel, #sell-panel, #trading-panel {
    height: 100%;
}
#buy-price-input, #buy-amount-input {
   
}
.dialog-content-container {
    /* grid-area: 1 / 1 / 2 / 2; */
}
.dialog-buy-sell-container {
    grid-area: 2 / 1 / 3 / 2;
}
.dialog-input-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

#main-graph-time-chips-container, #buy-graph-time-chips-container {
    margin-left: 15px;
}
#main-graph-time-chips > md-filter-chip {
    z-index: 0;
}
#buy-graph-time-chips > md-filter-chip {
    z-index: 0;
}


.curve-wrapper {
    position: relative;
}

.dashboard-curve {
    display: block;
}

.tooltip {
    position: absolute;
    z-index: 100;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    transform: translate(0, -50%); /* Vertical centering */
}
.tracking-dot {
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.3));
    transition: all 0.1s ease-out;
}